body {
  width; 100%;
  height: 100%;
}
#fish {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
}
#fish > div {
  margin-top: -50%;
  left: -50%;
  position:relative;
}
#fish > div > div {
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-name: bob;
  -webkit-animation-name: bob;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
  position: relative;
}
#fish #l, #fish #r {
  position: absolute;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
#fish #l {
  top: 203px;
  left: 75px;
  z-index: 1;
  animation-name: finleft;
  -webkit-animation-name: finleft;
  transform-origin: 18px 4px;
  -webkit-transform-origin: 18px 4px;
}
#fish #r {
  top: 197px;
  left: 204px;
  z-index: -1;
  animation-name: finright;
  -webkit-animation-name: finright;
  transform-origin: 5px 11px;
  -webkit-transform-origin: 5px 11px;
}

/* 20*0.5*(Math.cos(2*Math.PI/3000 * 1500*X)*-1+1) */
@keyframes bob {
  0% { top: 0px; }
  10% { top: 0px; }
  20% { top: -2px; }
  30% { top: -4px; }
  40% { top: -7px; }
  50% { top: -10px; }
  60% { top: -13px; }
  70% { top: -16px; }
  80% { top: -18px; }
  90% { top: -20px; }
  100% { top: -20px; }
}
@-webkit-keyframes bob {
  0% { top: 0px; }
  10% { top: 0px; }
  20% { top: -2px; }
  30% { top: -4px; }
  40% { top: -7px; }
  50% { top: -10px; }
  60% { top: -13px; }
  70% { top: -16px; }
  80% { top: -18px; }
  90% { top: -20px; }
  100% { top: -20px; }
}


@keyframes finleft {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(45deg); }
  30% { transform: rotate(0deg); }
}
@-webkit-keyframes finleft {
  0% { -webkit-transform: rotate(0deg); }
  15% { -webkit-transform: rotate(45deg); }
  30% { -webkit-transform: rotate(0deg); }
}
@keyframes finright {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(-45deg); }
  30% { transform: rotate(0deg); }
}
@-webkit-keyframes finright {
  0% { -webkit-transform: rotate(0deg); }
  15% { -webkit-transform: rotate(-45deg); }
  30% { -webkit-transform: rotate(0deg); }
}

